.tbl, .tbl th, .tbl td {
	border: 1px solid black;
	border-collapse:collapse;
	text-align: center;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;

}

.tbl {
	box-shadow: 3px 3px 5px #777;
	margin-top: 20px;
	margin-left: 50px;
	margin-bottom: 20px;
}

.tbl caption {
	font-family:"Comic Sans MS";
}

.tbl th {
	background-color: lightgray;
	height: 50px;
	width: 100px;
}

.tbl td{
	font-family:monospace;
	opacity:50%;
	width: 100px;
	height:30px;
}

.tbl td:hover {
	background-color: lightcoral;
	font-weight:bold;
	opacity: 0%;
}

.tbl td:nth-child(1) {
	text-align:left;
}

.tbl tr:nth-child(even){
	color:blue;
}





